html {
    background-color: #39393A;
    position: relative;
    min-height: 100%;
}

#nav-name {
    font-weight: bold;
    font-size: 200%;
}

.navbar-custom {
    background-color: #39393A;
    border-bottom: solid 1px #CCCCCC;
    
}

.navbar-custom .navbar-brand {
    color : #D7263D;
}

.navbar-custom .navbar-nav .nav-link {
    color: white;
}

#nav-number {
    color: #D7263D;
}



body {
    background-image: linear-gradient(to bottom right, #39393A, #771724);
    
    
}

.page-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/*
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
*/
.main-content {
    padding-top: 5%;
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


#home-button-one {
    background-color: #D7263D;
}

#home-button-two {
    background-color: white;
}


#navigation-bar {
    background-color: #39393A;

}

#about-head{
    padding-top: 60px;
    background-color: rgb(17, 17, 17);
    padding-bottom: 5%;
}



#about-head img {
    border-radius: 50%;
    width: 50%;
    margin-right: auto;
    margin-left: 25%;
}

.bio-img img{
    max-width: 100%;
}

#about-main img {
    max-width: 100%;
    height: auto;
}

#top-lesson-row img{
    max-width: 100%;

}

#bottom-lesson-row img{
    max-width: 100%;
}

#message-section {
    border-top : double 6px white;
}

.footer-start{
    border-top: solid 1px #CCCCCC;
}


.footer-content {
    position: absolute;
    background-color: #39393A;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.footer-rgt {
    max-width: 60%;
}

#socials-foot {
    border-right: 1px solid white;
}

.head-text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 400%;
}

.sub-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 150%;
}

.foot-heads {
    font-family: 'Ubuntu', sans-serif;
    font-size: 100%;
    border-bottom: solid 1px white;
}