html {
    background-color: #39393A;
    position: relative;
    min-height: 100%;
}

#nav-name {
    font-weight: bold;
    font-size: 200%;
}

.navbar-custom {
    background-color: #39393A;
    border-bottom: solid 1px #CCCCCC;
    
}

.navbar-custom .navbar-brand {
    color : #D7263D;
}

.navbar-custom .navbar-nav .nav-link {
    color: white;
}

#nav-number {
    color: #D7263D;
}



body {
    background-image: linear-gradient(to bottom right, #39393A, #771724);
    
    
}

.page-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/*
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
*/
.main-content {
    padding-top: 5%;
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


#home-button-one {
    background-color: #D7263D;
}

#home-button-two {
    background-color: white;
}


#navigation-bar {
    background-color: #39393A;

}

#about-head{
    padding-top: 60px;
    background-color: rgb(17, 17, 17);
    padding-bottom: 5%;
}



#about-head img {
    border-radius: 50%;
    width: 50%;
    margin-right: auto;
    margin-left: 25%;
}

.bio-img img{
    max-width: 100%;
}

.about-main img {
    max-width: 100%;
    height: auto;
}

.about-main {
    font-family: 'Montserrat', sans-serif;
    font-size: 150%;
}



#top-lesson-row img{
    max-width: 100%;

}

#bottom-lesson-row img{
    max-width: 100%;
}

#message-section {
    border-top : double 6px white;
}

.footer-start{
    border-top: solid 1px #CCCCCC;
}


.footer-content {
    position: absolute;
    background-color: #39393A;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.footer-rgt {
    max-width: 60%;
}

#socials-foot {
    border-right: 1px solid white;
}

.head-text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 400%;
}

.sub-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 150%;
}

.foot-heads {
    font-family: 'Ubuntu', sans-serif;
    font-size: 100%;
    border-bottom: solid 1px white;
}

.carousel{
    height: 400px;
}

.testimonials-head{
    font-size: 125%;
    font-family: 'Montserrat', sans-serif;
    background-color: #39393A;
}

.carousel-item {
    font-family: 'Courgette', cursive;
    font-size: 125%;
}

.testimonials-body {
    font-family: 'Courgette', cursive;
    font-size: 125%;
}

.testimonial-form {
    font-size: 125%;
    font-family: 'Montserrat', sans-serif;
    background-color: #39393A;
    border-bottom: solid 1px #CCCCCC;
}

#contact-text {
    max-width: 100%;
}

@media screen and (min-width: 0px) and (max-width: 768px) { 
    #web-view{
        display: none;
    }    
}

@media screen and (min-width: 769px){ 
    #phone-view{
        display: none;
    }    
}
.container {
    max-width: 820px;
    margin: 0px auto;
    margin-top: 50px;
}
.comment {
    float: left;
    width: 100%;
    height: auto;
}
.commenter {
    float: left;
}
.commenter img {
    width: 35px;
    height: 35px;
}
.comment-text-area {
    float: left;
    width: 100%;
    height: auto;
}

.textinput {
    float: left;
    width: 100%;
    min-height: 75px;
    outline: none;
    resize: none;
    border: 1px solid grey;
}