html {
    background-color: black;
    position: relative;
    min-height: 100%;
}

#nav-name {
    font-weight: bold;
    font-size: 200%;
}

body {
    background-color: black;
    margin-bottom: 60px;
}

.page-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/*
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
*/
.main-content {
    padding-top: 10%;
    width: 100%;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("homeimage.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}


#home-button {
    border: 1px solid white;
    background-color: grey;
}


#navigation-bar {
    background-color: black;

}

#about-head{
    padding-top: 60px;
    background-color: black;
    padding-bottom: 5%;
}



#about-head img {
    border-radius: 50%;
    width: 50%;
    margin-right: auto;
    margin-left: 25%;
}

.bio-img img{
    max-width: 100%;
}

#about-main img {
    max-width: 100%;
    height: auto;
}

#top-lesson-row img{
    max-width: 100%;

}

#bottom-lesson-row img{
    max-width: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: black;
  }

.footer-content {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.footer-rgt {
    max-width: 60%;
}